 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Saya seorang tenaga administrasi sekolah sekaligus mahasiswa di sebuah universitas di aceh yang lahir pada 17 agutus 1994 dan sekarang berusia sekitar 23 tahun.</p>
                </div>
                <div class="col-lg-4">
                    <p>Memiliki kecanduan untuk ngoding sekaligus ingin belajar lebih banyak dan lebih jauh lagi! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Ini Saya
                    </a>
                </div>
            </div>
        </div>
    </section>